{% extends "layout_seller.html" %}

{% block title %}
Hanyang Delivery
{%  endblock %}

{% block body %}
<h1>Personal information edit</h1>
    <div class="row gtr-uniform">
        <div class="col-6 col-12-small">
            <div class="box">
                <h4>name edit</h4>
                <form action="/seller/infoedit" method='POST' id="log">
                    <div class="row gtr-100 gtr-uniform">
                        <div class="col-12-medium">
                            <input type="text" name="name" id="name" value={{ session['name'] }}>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Change" class="primary" /></li>
                                <li><input type="reset" value="Reset" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <div class="box">
                <h4>password edit</h4>
                <form action="/seller/infoedit" method='POST' id="log">
                    <div class="row gtr-100 gtr-uniform">
                        <div class="col-12-medium">
                            <input type="password" name="passwd" id="passwd" placeholder="password" required>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Change" class="primary" /></li>
                                <li><input type="reset" value="Reset" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}